{% extends "base.html" %}
{% block content %}

<h1>Sign Up</h1>

<form action = "{{ url_for('registration') }}" method = "POST">
    <table>
        <tr>
            <td>Firstname:</td>
            <td><input type = "text" name = "firstname" required></td>
        </tr>
        <tr>
            <td>Lastname:</td>
            <td><input type = "text" name = "lastname" required></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type = "email" name = "email" required></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type = "password" name = "password" pattern = "(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                title = "Must containt at least one number, one uppercase and lowercase latter, and at least 8 or more characters" required></td>
        </tr>
        <tr>
            <td>Confirm password:</td>
            <td><input type = "password" name = "confirm_password" required></td>
        </tr>
        <td>
            <p style="color: red;"> {{ get_flashed_messages()[0] }} </p>
        </td>
    </table>
    <input type = "Submit" name = "sign_up" value = "Sign Up" class = "buttons">
</form>
<button onclick="history.back()" class = "buttons">Cancel</button>

{% endblock %}